hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

p code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  margin: 0;
  padding: .2em .4em;
}

h5 code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  margin: 0;
  padding: .2em .4em;
}

p.section {
  margin-top: 15px;
}

p ul {
  margin-bottom: 0;
}

footer {
  margin-top: 4rem;
  padding: 2rem 0;
  border-top: 1px solid #e7e7e7;
  color: grey;
  text-align: center;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 10px;
}

.MuiOutlinedInput-input-202,
.MuiOutlinedInput-input-203,
.MuiInputBase-root-208.MuiInputBase-disabled-211,
.MuiOutlinedInput-multiline-201
{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #FFF !important;
}
